*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
   display: flex;
   width: 100vw;
   height: 100px;
   background-color: #F4A460;
   top: 0;
}

header > menuflex{
    display: flex;
    align-self: center;
}




main{
    width: 100vw;
    height: 1000px;
    display: grid;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 6px;
    padding: 10px;
}

#galeriaItem{
    display: grid;
    border: 1px solid green;
    grid-column: 5px;
    grid-row: 5px;  
    text-align: center;
}


footer{
    display: flex;
    width: 100vw;
    height: 100px;
    background-color:#696969;
    font-size: 24px;
    color: white;
    bottom: 0;
 }


 #detalheVideo2{
    display: grid;
    width: 100vw;     
    height: 100vh;
}

#detalheVideo3{
    display: grid;
    width: 1px;     
    height: 1px;
}